

<%@recipes.each do |recipe|%>
<h1><a href = <%=recipe_path(recipe.id)%>><%=recipe.title%></a></h1>
<h3>Created by <a href = <%= user_path(recipe.author.user.id)%>><%=recipe.author.user.name%></a></h3>
<%end%>