

<h1><%=@recipe.title%></h1>
<label>By:</label>
<h3><%=@recipe.author.user.name%></h3>
<label>Ingredients:</label>
<%@recipe.ingredients.each_with_index do |ingredient, i|%>
<%=i == @recipe.ingredients.length - 1 ? "#{ingredient.name}" : "#{ingredient.name}, "%>
<%end%>
<label>Instructions:</label>
<p><%=@recipe.content%></p>
